body, html {
    padding: 0;
    margin: 0;
}

.cardContainerBody {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    height: 750px;
    width: 1500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(0, 185, 209);
    border-radius: 10px;
}

.card {
    cursor: pointer;
    height: 350px;
    width: 300px;
    border: 3px solid black;
    background-size: cover;
}
.card:hover {
    border: 3px solid green
}