.scoreboardBody {
    border: 1px solid black;
    width: 100%;
    height: 4em;
    background-color: white;
    margin-bottom: 50px;
}

.score {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}